:root {
  --white: #ffffff;
  --lightGray: #d6e2f0;
  --grayishBlue: #7b879d;
  --darkBlue: #1f3251;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mainContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 30px;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.description {
  word-wrap: break-word;
  text-align: center;
}

.description h1 {
  color: var(--darkBlue);
  font-weight: 700;
}

.description p {
  color: var(--grayishBlue);
  font-weight: 400;
}

/**Mobile*/
@media only screen and (min-width: 375px) and (max-width: 1439px) {
  .card {
    min-width: 300px;
    max-width: 330px;
    padding: 20px 20px 30px 20px;
    gap: 0;
  }
  .description {
    padding: 10px;
  }
  .description h1 {
    font-size: 25px;
  }

  .description p {
    font-size: 18px;
  }
}

/**Desktop*/
@media only screen and (min-width: 1440px) {
  .card {
    max-width: 355px;
    padding: 20px;
    gap: 0;
  }
  .description {
    padding: 10px;
  }
  .description h1 {
    font-size: 28px;
  }

  .description p {
    font-size: 18px;
  }
}
